// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin: 0;
  background-color: purple;
  font-family: $primary-font;
  overflow: hidden;
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

// Set the intro card to device height
html, body, #app, #intro {
  height: 100%;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  letter-spacing: 1px;
}

section {
  height: auto;
  padding: 110px 5% 50px 5%;

  &.dark {
    background-color: $dark;
  }

  &.light {
    background-color: $light;
  }
}

#contact {
  padding-bottom: 90px;
}

.row {
  // border: 1px red solid;
  margin: 0;
}

.col { 
  display: flex;
  justify-content: center;
  padding: 0;
  // border: 1px blue solid;
}

.nav-group {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

@media screen and (min-width: $desktop) {
  section {
    padding: 140px 8% 100px 8%;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

// To get page jump working on Firefox
@-moz-document url-prefix() {
  section {
    padding: 45px 8% 50px 8%;
  }
  @media screen and (min-width: $desktop) {
    section {
      padding: 70px 8% 100px 8%;
    }
  }
}