// Website colours
$primary-colour: #EDEDED;
$secondary-colour: #232323;
$house-colour: #FB7800;
$light: #fff;
$dark: #E1E1E1;

// Default colours
$white: #fff;
$grey: #BFBFBF;
$dark-grey: #1C1A1A;

// Font styles
$primary-font: 'open sans';

// Mobile break point
$desktop: 991px;